/* css styles for main page */

@media (max-width: 300px) {
    .frame {
        height: 100px;
        width: 100px;
    }
}

body {
    font-family: Impact, monospace, Helvetica, sans-serif;
    background-color: #FAF3F0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    

}

img {
    min-width: 100px;
    min-height: 100px;
    max-width: 100%;
    max-height: auto;
}

button {
    font-family: inherit;
    height: 3em;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    background-color: #FAF3F0;

    width: 100%;
}


#header {
    /*background-color: #FAF3F0;*/
    background-color: #FEFAE0;
    
    height: 12.5vh;
    
    padding: 10px;
    border-color: black;
    border-width: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    
}

.line {
    height: 1px;
    width: 70%;
    /*background: #609966;*/
    background: #283618;
    margin-left: 10px;
    margin-right: 10px;
}

#logo-container {
    height: 100px;
    width: 100px;  
}

#title {
    font-size: 40px;
    color: #283618;
    text-shadow: rgba(91, 86, 86, 0.634) 3px 3px 1px;

    white-space: nowrap;

    
}

#main-body {
    flex: 1 1 0;
    min-height: 75vh;

    background-image: url("../src/resturant.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;


}

#main-photo {
    min-height: 80vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#placard {
    height: 45vh;
    width: 60vh;

    border-radius: 50px;
    background-color: #FEFAE0;

    border: 5px solid #283618;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
    margin-left: 10px;
    
    overflow: auto;
    padding: 5px;
}

#quote {
    font-size: 25px;
    text-shadow: rgba(91, 86, 86, 0.634) 3px 3px 1px;
}

#address, #phone {
    font-family: 'Times New Roman', Times, serif;
    
}

#buttons {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-right: 10px;

    
}

.button-style {
    background-color: #FAF3F0;
    height: 3em;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    text-align: center;
}



#dropdown {
    position: relative;
    display: inline-block;


}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #FAF3F0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

/* Links inside the dropdown */
#dropdown-content a {
    text-decoration: none;
    display: block;


    height: 40px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 10px;

    font-weight: bold;
    color: black;
}

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {
    display: block;
}

#menu:hover, #delivery:hover, #dropdown-content a:hover {
    background-color: #e0d9d5;
}


#photo-body {
    background-color: #FAF3F0;
    flex: 1 1 0;
    min-height: 50vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section {
    height: 80%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    
    
}

.frame {
    height: 100%;
    width: 100%;


}



.quote {
    text-align: center;
}

#photo1 {
    background-image: url("../src/wall1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

#photo2 {
    background-image: url("../src/wall2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

#photo3 {
    background-image: url("../src/wall3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}


#footer {
    background-color: #40513B;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.modal {
    background-color: #FAF3F0;
    height: 100px;
    width: 200px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
}

#hours {
    margin-left: 10px;
}

#map {
    margin-right: 10px;
}

#map:hover {
    background-color: #e0d9d5;
    cursor: pointer;
}
